@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 862px;
  height: 100%;
}

img.bg-default {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 862px;
  object-fit: cover;
}

h1.title {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 295px;
}

h4.subtitle {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

div.wrapper {
  max-width: 612px;
  width: 100%;
  position: relative;
  margin-bottom: 211px;
}

input[type=text].search {
  max-width: 612px;
  height: 58px;
  width: 100%;
  padding-left: 36px;
  border: unset;
}
input[type=text].search::placeholder {
  color: var(--Text-Grey, #999);
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}

button.btn-head {
  position: absolute;
  top: 4px;
  right: -30px;
  display: flex;
  width: 139px;
  height: 52px;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: #5373FD;
  border: unset;
  color: #FFF;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  z-index: 5;
}

a.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  text-decoration: none;
}
a.scroll .arrow {
  max-width: 14px;
  max-height: 16px;
  width: 100%;
  height: 100%;
}

div.nav-bg {
  background-color: #5373FD;
}

div.navigation {
  display: grid;
  grid-template-columns: 200px 575px;
  height: 84px;
  align-items: center;
  justify-content: space-between;
}
div.navigation h3 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
div.navigation nav {
  max-width: 575px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
div.navigation nav ul {
  display: flex;
  justify-content: space-between;
}
div.navigation nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
div.navigation .burger {
  display: none;
  width: 40px;
  height: 84px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
div.navigation .burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
}

.text_btn {
  position: relative;
  z-index: 2;
}

img.us-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 704px;
  object-fit: cover;
}

div.choose {
  height: 704px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explore {
  max-height: 324px;
  height: 100%;
  max-width: 648px;
  width: 100%;
}
.explore h2 {
  color: #FFF;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  padding: 0 15px;
}
.explore p {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
  margin-bottom: 32px;
  padding: 0 15px;
}
.explore a {
  padding: 22px 32px;
  background-color: #5373FD;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.photo-cliff {
  max-height: 456px;
  height: 100%;
  max-width: 536px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.photo-cliff img {
  max-width: 350px;
  width: 100%;
  max-height: 220px;
  height: 100%;
  object-fit: cover;
}

.nature {
  margin-left: 74px;
}

.wrap {
  position: relative;
}
.wrap .rectangle {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 306px;
}
.icons .steps {
  max-height: 306px;
  height: 100%;
}

div.bookmarks {
  display: flex;
  gap: 23px;
}
div.bookmarks h2 {
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}
div.bookmarks .item {
  max-width: 424px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
div.bookmarks .item img {
  border: solid 1px #333;
  background-color: #333;
  border-radius: 48px;
  z-index: 2;
}

.villa {
  max-height: 684px;
  height: 100%;
}

.spain {
  height: 684px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.madrid {
  max-width: 648px;
  max-height: 344px;
  width: 100%;
  height: 100%;
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px 0 32px;
}
.madrid h6 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.madrid h5 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.madrid p {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
  margin-bottom: 35px;
}
.madrid a {
  padding: 22px 32px;
  background-color: #5373FD;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

div.ocean {
  max-height: 684px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

div.villa_madrid {
  max-height: 684px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.madrid-mount {
  max-width: 648px;
  max-height: 344px;
  width: 100%;
  height: 100%;
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px 0 32px;
}
.madrid-mount h6 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.madrid-mount h5 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.madrid-mount p {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
  margin-bottom: 35px;
}
.madrid-mount a {
  padding: 22px 32px;
  background-color: #5373FD;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

.tourist {
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.tourist h2 {
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  margin-top: 120px;
}

.travels {
  display: flex;
}
.travels .traveler {
  max-height: 283px;
  height: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 60px;
  background-color: #333;
  position: relative;
}
.right-side h5 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.right-side p {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}
.right-side .quote {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 90px;
}

footer {
  height: 268px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h3 {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
footer p {
  color: #FFF;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  margin-bottom: 20px;
}
footer nav ul {
  display: flex;
  gap: 32px;
}
footer nav ul li:hover path {
  fill: #5373FD;
}

@media (max-width: 700px) {
  input[type=text].search {
    max-width: 350px;
    width: 100%;
  }
  input[type=text].search::placeholder {
    font-size: 10px;
  }
  div.wrapper {
    max-width: 386px;
    width: 100%;
  }
  button.btn-head {
    width: 100px;
    height: 52px;
    right: 0;
    font-size: 10px;
    padding: 16px 12px;
  }
}
@media (max-width: 768px) {
  div.navigation {
    grid-template-columns: 1fr 40px;
  }
  div.navigation nav {
    display: none;
    max-width: 575px;
  }
  div.navigation .btns {
    display: none;
  }
  div.navigation .burger {
    display: flex;
  }
  div.active {
    height: auto;
    grid-template-columns: 1fr 40px;
    grid-template-areas: "logo burger" "nav nav";
  }
  div.active .logo {
    grid-area: logo;
  }
  div.active nav {
    display: block;
    grid-area: nav;
    width: 100%;
    max-width: unset;
    padding-bottom: 30px;
  }
  div.active nav ul {
    flex-direction: column;
  }
  div.active .burger {
    grid-area: burger;
  }
  div.active .burger.active span {
    background-color: #ffffff;
  }
}
@media (max-width: 720px) {
  div.bookmarks h2 {
    font-size: 24px;
  }
}
@media (max-width: 1250px) {
  .right-side {
    padding: 24px 30px;
  }
  .right-side .quote {
    top: 75px;
  }
  .right-side p {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  div.choose {
    flex-direction: column;
  }
  div.choose .explore {
    padding-top: 15px;
  }
  div.photo-cliff img {
    max-width: 200px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
  }
  .travels {
    flex-direction: column;
    align-items: center;
  }
  .travels .traveler {
    max-width: 300px;
    max-height: 145px;
    width: 100%;
    height: 100%;
  }
  .travels .right-side .quote {
    top: 65px;
  }
}