@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Francois+One&family=PT+Sans:wght@400;700&family=Staatliches&family=Tourney:wght@600&display=swap');
.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
main{
  display: grid;
  grid-template-columns: 365px 785px;
  column-gap: 30px;
}
ul{
    display: flex;
    gap: 50px;
}
header{
    max-height: 54px;
    height: 100%;
    display: flex;
    position: sticky;top: 0;
    background-color: white;
    z-index: 5;
}
.logo{
    margin-left: 601px;
}
.sidebar{
  position: sticky; top: 54px;
}
.side_navig{
  display: flex;
  flex-direction: column;
  margin: 70px 0 0 0;
}
.border{
  padding: 10px;
  border-bottom: 1px solid #BDBDBD;
}
h1{
  margin: 20px 0 0 0;
}
hr{
  display: inline-block;
  width: 100px;
  border-bottom: 8px solid black;
  margin: 70px 0 0 0;
}
hr:nth-child(1){
  margin: 0;
}
p{
  margin-top: 40px;
  color: #000;
  font-family: PT Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
.fat{
  color: #000;
  font-family: PT Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
h1{
  display: inline;
  color: #000;
  font-family: Francois One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
sup{
  color: #000;
  font-feature-settings: 'sups' on;
  font-family: Farro;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
}
.side{
  color: #000;
  font-family: Francois One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-decoration: none;
}
.top_navig{
  color: #000;
  font-family: Staatliches;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.66px;
  text-decoration: none;
}
.lang{
  color: #000;
  text-align: center;
  font-family: Tourney;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.88px;
  text-decoration: none;
}
.underline{
  color: #000;
  font-family: PT Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-decoration-line: underline;
}
.italic{
  color: #000;
  font-family: PT Sans;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}
.text_bg{
  background: #BDBDBD;
}
.position{
  position: relative;
  bottom: 628px;
}
.bg_content{
  position: sticky; top: 54px;
  z-index: -1;
  margin-left: 300px;
}