@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
.page-404 {
  backdrop-filter: sepia(90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}
.page-404 .error-img {
  max-width: 500px;
  width: 100%;
}
.page-404 h3 {
  color: red;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-align: center;
}
.page-404 a {
  background-color: orange;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
.page-404 a:hover {
  background-color: #fd6500;
  transition: 0.5s all ease-out;
}