html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

header {
  min-height: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #828282;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  padding: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #828282;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
nav ul li a:hover {
  color: #070707;
}

main section h1 {
  color: #070707;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 12px;
}
main section img {
  max-width: 970px;
  width: 100%;
  margin-top: 50px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  margin-top: 100px;
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
section ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section ul li {
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
section ul li:nth-child(1) {
  max-width: 480px;
  width: 100%;
  margin-top: 50px;
}
section ul li:nth-child(2) {
  max-width: 406px;
  width: 100%;
}
section ul li:nth-child(3) {
  max-width: 321px;
  width: 100%;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.section3 h2 {
  margin-bottom: 20px;
}
.section3 p {
  margin-bottom: 50px;
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section3 div.skills div {
  display: flex;
  flex-direction: column;
  max-width: 170px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.section3 div.skills div p.figma {
  margin-bottom: 65px;
}
.section3 div.skills div img.icons {
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  height: 100%;
}
.section3 div.skills div p {
  margin-top: 50px;
  max-width: 80px;
  width: 100%;
  color: #828282;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
}
.section3 div.skills div img {
  margin-top: 0;
}

.skills {
  display: flex;
  gap: 97px;
  max-height: 230px;
  height: 100%;
  max-width: 970px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.examples img {
  margin-top: 70px;
}
.examples img:first-child {
  margin-top: 50px;
}
.examples .store {
  max-width: 200px;
  width: 100%;
}
.examples a {
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-top: 40px;
}

.store {
  max-width: 200px;
  width: 100%;
}

footer {
  margin-top: 100px;
  display: flex;
  max-height: 400px;
  height: 100%;
  gap: 60px;
  flex-direction: column;
  align-items: center;
}
footer button {
  display: flex;
  width: 180px;
  height: 44px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background: #070707;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
}
footer p {
  max-width: 200px;
  width: 100%;
  color: #828282;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts h2 {
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.contacts p {
  max-width: 280px;
  width: 100%;
  color: #070707;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.links ul {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  nav ul li {
    padding: 15px;
  }
  main section h1 {
    font-size: 24px;
  }
  main section img {
    margin-top: 25px;
  }
}
@media (max-width: 445px) {
  nav ul li {
    padding: 5px;
  }
}
@media (max-width: 628px) {
  .section3 div.skills {
    display: grid;
    grid-template-columns: 200px 200px;
    max-height: unset;
  }
}