@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  input {
    max-width: 300px;
    width: 100%;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 3px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background-color: orange;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  button {
    max-width: 100px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  &:hover {
    background-color: orange;
    transition: all 0.5s ease-out;
  }
  }
}