@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
.container-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 15px;
}

.comics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  backdrop-filter: hue-rotate(120deg);
}
.comics .comic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  overflow: hidden;
  background-color: palegoldenrod;
  height: 550px;
  border: 4px solid black;
  position: relative;
  transition: all 0.5s;
}
.comics .comic:hover {
  scale: 1.05;
}
.comics .comic .wishlist {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
}
.comics .comic .wishlist.active-list {
  background-color: green;
}
.comics .comic .wishlist:hover {
  cursor: pointer;
}
.comics .comic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: 4px solid black;
  border-radius: 5px;
}
.comics .comic h2 {
  margin-top: 16px;
  font-size: 20px;
  text-align: center;
  font-size: calc(10px + 0.4166666667vw);
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.comics .comic p {
  margin-top: 24px;
  max-height: 150px;
  overflow: hidden;
  font-size: calc(10px + 0.4166666667vw);
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  backdrop-filter: blur(50px);
}

@media (max-width: 1436px) {
  .comics {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .comics {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .comics {
    grid-template-columns: 1fr;
  }
}