@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.container-singlecomic {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 15px;
}
.singlecomic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 15px 15px;
  border: 2px solid black;
  border-radius: 15px;
}
.singlecomic-img {
  max-width: 500px;
  width: 100%;
  border: 3px dashed green ;
  border-radius: 15px;
}
.bio {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  gap: 10px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  h2 {
    color: black;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
  }
  p {
    color: black;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
  }
}
@media (max-width: 850px) {
  .singlecomic{
  flex-direction: column;
  }
  .bio {
    margin: 10px 0;
  }
}